<!-- Modal -->
<div class="modal fade" id="profileModal{{fromID}}" tabindex="-1" role="dialog" aria-labelledby="profModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
				<h4 class="modal-title" id="profModalLabel">More About {{from}}</h4>
			</div>
			<div class="modal-body">

				<img src="data:{{image-contentType}};base64,{{image-data}}" class="img-responsive" onerror="if (this.src != '/images/default-user-icon-profile.png') this.src = '/images/default-user-icon-profile.png';" name="aboutme" width="140" height="140" border="0" class="img-circle"></img>
				<h3 class="media-heading">{{from}} <small>USA</small></h3>
				<span><strong>Skills: </strong></span>
				{{#each fromSkills}}<span class="label label-warning">{{this}}</span>{{/each}}

				<hr>

				<p class="text-left"><strong>Bio: </strong><br>
				{{fromBio}}</p>
				<br>
			</div>

		</div>
		<div class="modal-footer">

			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

		</div>
	</div>
</div>