<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Skoolio Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="images/favicon.jpg">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/homepage.css">
    </head>
    <body>
        <nav id="the-navbar" class="navbar navbar-default navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Navigation</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/homepage">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                        <li ><a href="/profile">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        <li ><a href="/notifications">Notifications<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                        <li ><a href="/user_projects">My Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>
                        <!-- Change to POST request eventually! -->
                        <li ><a href="/logout">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>-->
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!-- Header -->
                    <div class="page-header">
                        <h3 class="reviews">Skoolio</h3>

                        <div class="comment-tabs">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Projects</h4></a>
                                </li>
                                <li>
                                    <a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Post Project</h4></a>
                                </li>
                                <!--<li>
                                    <a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Search Projects</h4></a>
                                </li>-->
                            </ul>
                            
                            <div class="tab-content">
                                <!-- Projects Tab -->
                                <div class="tab-pane active" id="comments-logout">
                                    <ul class="media-list">
                                        <br />
                                        {{#each projects}}
                                        <!-- Project Posts -->
                                        
                                        <li class="media">
                                           
                                            <div class="media-body">
                                             
                                                <div class="well well-lg {{post-border}} project-post">
                                                    <h6 class="post-time">{{createdAt}}</h6>

                                                    <h4 class="media-comment">{{title}}</h4>

                                                    <p class="media-comment">
                                                        <label>Type:</label> {{type}}
                                                    </p>
                                                    <p class="media-comment">
                                                        <label>Role:</label> {{roles}}
                                                    </p>
                                                    <div class="more">
                                                        <label>Description:</label> {{description}}
                                                    </div>

                                                    

                                                    <div class="collapse" id="{{_id}}">
                                                        <!--<div class="well well-lg">-->
                                                            <h3>Hello</h3>
                                                            
                                                        <!--</div>-->
                                                    </div>

                                                    <br />
                                                    <a href="#{{_id}}" class="btn btn-info btn-circle text-uppercase details-button" data-toggle="collapse"><span class="glyphicon glyphicon-share-alt"></span> Details</a>

                                                    {{#if notowned}}
                                                        <a href="/interested/{{_id}}" id="interested{{id}}" class="btn btn-info btn-circle text-uppercase interested-obj"><span class="glyphicon glyphicon-ok"></span> Hit Me Up</a>
                                                    {{/if}}
                                                </div>
                                            
                                            </div>
                                        </li>
                                        
                                        {{/each}}
                                    </ul>
                                    <div id="lastPostsLoader"></div>
                                </div>
                                <!-- Post Project Tab -->
                                <div class="tab-pane" id="add-comment">
                                    <br />
                                    <form method="post" class="form-horizontal" id="commentForm" role="form">
                                        <div class="form-group">
                                            <label for="title" class="col-sm-2 control-label">Project Name</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="title" id="project-name" placeholder="Enter Project Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="project-type" class="col-sm-2 control-label">Type of Project</label>
                                            <div class="col-sm-10">
                                            <select name="type">
                                                <option value="Web Application"> Web Application
                                                <br />
                                                <option value="Android Application"> Android Application
                                                <br />
                                                <option value="Iphone Application"> iPhone Application
                                                <br />
                                                <option value="Research"> Research
                                                <br />
                                                <option value="Engineer"> Engineer
                                                <br />
                                                <option value="Other"> Other
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="description" class="col-sm-2 control-label">Description</label>

                                            <div class="col-sm-10">
                                                <textarea name="description" id="project-description" maxlength="240" rows="5" placeholder=" Enter brief summary of your project" required="required"></textarea>
                                                <h6 class="pull-right">
                                                    <span id="characters_remaining">240</span>
                                                    characters remaining
                                                </h6>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="roles" class="col-sm-2 control-label">Roles Wanted</label>
                                            <div class="col-sm-10">
                                                <div id="role-form" class="input-group">
                                                    <input type="text" class="form-control" name="roles" id="project-roles" placeholder="Enter roles wanted">
                                                    <div></div>
                                                </div>
                                                <div><button id="add-role-form" type="button">Add More Roles</button></div> 
                                            </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitProject">Post Project</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Search Projects Tab -->
                                <div class="tab-pane" id="account-settings">
                                    <form action="#" method="post" class="form-horizontal" id="accountSetForm" role="form">
                                        <br />
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Project Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Project Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="nickName" class="col-sm-2 control-label">Role</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="nickName" id="nickName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-2 control-label">Platform</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit"><a href="/homepage">Search</a></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/bootstrap.js"></script>
</html>