<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Current Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="/images/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/background.css">
        <link rel="stylesheet" type="text/css" href="/css/user_projects.css">
        {{> woopra_tracking_script}}
        {{> woopra_tracking_user_script}}
    </head>
    <body>
        {{> navbar}}
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!-- Header -->
                    <div class="page-header">
                        <h2 style="color: #000;" class="user_projects-header">My Projects</h2>
                    </div>
                    <div class="comment-tabs">
                        
                        <div class="tab-content">

                            <!-- Show this if there are no notifications -->
                            {{#if empty}}
                                <p><h2>You currently have no projects!</h2></p> <p><h3>Post a project idea in the <a href="/homepage">homepage</a> and manage them here.</h3></p>
                            {{/if}}

                            <!-- Projects Tab -->
                            <div class="tab-pane active" id="comments-logout">
                                <ul class="media-list">
                                    {{#each projects}}
                                    <!-- Projects -->
                                    {{> edit_project_modal}}
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="well well-lg project-post">
                                                <h6 class="post-time">{{createdAt}}</h6>
                                                <h4 class="project-title">{{title}}</h4>
                                                <p class="project-type">
                                                    <label>Type:</label> {{type}}
                                                </p>
                                                <p class="project-role">
                                                    <label>Role:</label> {{roles}}
                                                </p>
                                                <div class="collapse" id="details{{_id}}">
                                                    <!--<div class="well well-lg">-->
                                                    <p class="more">
                                                        <label>Description:</label> {{description}}
                                                    </p>
                                                    

                                                    {{#if course-exist}}
                                                        <p class="project-type">
                                                            <label>Course:</label> {{course}}
                                                        </p>
                                                    {{/if}}

                                                    {{#if url-exist}}
                                                        <p class="project-type">
                                                            <label>URL:</label> {{url}}
                                                        </p>
                                                    {{/if}}
                                                        
                                                    {{#if image-exist}}    
                                                        <p class="project-image">
                                                            <label>Image:</label><img src="data:{{image-contentType}};base64,{{image-data}}" class="img-responsive" />
                                                        </p>
                                                    {{/if}}
                                                    <!--</div>-->
                                                </div>
                                                <div id="details-edit-block">
                                                    <a href="#details{{_id}}" class="btn btn-info btn-circle text-uppercase" data-toggle="collapse"><span class="glyphicon glyphicon-share-alt"></span> Details</a>
                                                    
                                                    <button type="button" id="edit-project-button{{_id}}" class="btn btn-info btn-circle text-uppercase interested-obj edit-project" data-toggle="modal" data-target="#editModal{{_id}}"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/jquery-2.1.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/user_projects.js"></script>
</html>